<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/offices">{{'label.anchor.manageoffices' | translate}}</a></li>
        <li class="active">{{'label.anchor.createoffice' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.heading.createoffice' | translate}}</h4>
    		</div>
    		<br/>
    		<form name="createofficeform" novalidate="" class="form-horizontal" ng-controller="CreateOfficeController"
    		      rc-submit="submit()">
    		    <api-validate></api-validate>
    		    <fieldset>
    		            <div class="form-group">
    		                <label class="control-label col-sm-2">{{ 'label.input.office' | translate }}<span
    		                        class="required">*</span></label>
    		
    		                <div class="col-sm-3">
    		                    <input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control"
    		                           required late-Validate/>
    		                </div>
    		                <div class="col-sm-3">
    		                    <form-validate valattributeform="createofficeform" valattribute="name"/>
    		                </div>
    		            </div>
    		        
    		            <div class="form-group">
    		                <label class="control-label col-sm-2">{{ 'label.input.parentoffice' | translate }}<span class="required">*</span></label>
    		
    		                <div class="col-sm-3">
    		                    <select chosen="offices" id="parentId" ng-model="formData.parentId" class="form-control"
    		                            ng-options="office.id as office.name for office in offices"
										value="{{office.id}}"></select>
    		                </div>
    		            </div>
    		        
    		            <div class="form-group">
    		                <label class="control-label col-sm-2">{{ 'label.input.openedon' | translate }}<span
    		                        class="required">*</span></label>
    		
    		                <div class="col-sm-3">
    		                    <input id="openingDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date"
    		                           class="form-control" is-open="opened" min="minDate" max="restrictDate"/>
    		                </div>
    		            </div>
    		        
    		            <div class="form-group">
    		                <label class="control-label col-sm-2">{{ 'label.input.externalid' | translate }}</label>
    		
    		                <div class="col-sm-3">
    		                    <input id="externalId" type="text" name="externalId" class="form-control" ng-model="formData.externalId">
    		                </div>
    		            </div>

                    <!-- start address -->

                    <div class="form-group">
                        <label class="control-label col-sm-2"><strong>Add Address Details</strong></label>&nbsp;<a
                            ng-click="addAddress()"><i class="fa fa-plus"
                                title="{{'label.button.addAddress' | translate}}"></i></a>
                    </div>
                    <div ng-repeat="addr in addressArray">
                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                <label>{{ 'label.input.addressType' | translate }}
                                    <span class="required">*</span></label>

                            </div>
                            <div class="col-sm-3">
                                <select chosen="addressTypes" name="addressType"
                                    ng-model="addressArray[$index].addressType" class="form-control"
                                    ng-options="addressType.id as addressType.name for addressType in addressTypes track by addressType.id"
                                    value="addressTypeId" required></select>
                            </div>

                            <div class="col-sm-2">
                                <form-validate valattributeform="createofficeform" valattribute="addressType" />
                            </div>
                            <a ng-click="removeAddress($index)"
                                uib-tooltip="{{'label.remove.row' | translate}}">&nbsp;&nbsp;<i
                                    class="fa fa-times"></i></a>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                <label>{{'label.input.street'|translate}}
                                    <span class="required">*</span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" name="street" maxlength="200" ng-model="addressArray[$index].street"
                                    class="form-control" required/>
                            </div>
                            <div class="col-sm-2">
                                    <form-validate valattributeform="createofficeform" valattribute="street" />
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ 'label.input.addressline1' | translate }}</label>
                            <div class="col-sm-3">
                                <input type="text" name="addressline1" maxlength="200"
                                    ng-model="addressArray[$index].addressLine1" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ 'label.input.addressline2' | translate }}</label>
                            <div class="col-sm-3">
                                <input type="text" name="addressline2" maxlength="200"
                                    ng-model="addressArray[$index].addressLine2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ 'label.input.addressline3' | translate }}</label>
                            <div class="col-sm-3">
                                <input type="text" name="addressline3" maxlength="200"
                                    ng-model="addressArray[$index].addressLine3" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ 'label.input.city' | translate }}</label>
                            <div class="col-sm-3">
                                <input type="text" name="city" maxlength="200" ng-model="addressArray[$index].city"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                <label>{{ 'label.input.state_province' | translate }}
                                    <span class="required">*</span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <select chosen="stateOptions" name="stateProvinceId"
                                    ng-model="addressArray[$index].stateProvinceId" class="form-control"
                                    ng-options="stateOption.id as stateOption.name for stateOption in stateOptions track by stateOption.id"
                                    value="stateProvinceId" required></select>
                            </div>
                            <div class="col-sm-2">
                                    <form-validate valattributeform="createofficeform" valattribute="stateProvinceId" />
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-sm-2">
                                <label>{{ 'label.input.country' | translate }}</label>
                            </div>
                            <div class="col-sm-3">
                                <select chosen="countryOptions" name="country" ng-model="addressArray[$index].country"
                                    class="form-control"
                                    ng-options="countryOption.id as countryOption.name for countryOption in countryOptions track by countryOption.id"
                                    value="countryId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-sm-2"
                                    for="postal_code">{{ 'label.input.postal_code' | translate }}</label>
                
                                <div class="col-sm-3">
                                    <input type="text" ng-pattern="/^(\d{5}-\d{4}|\d{6})$/" id="postal_code" name="postal_code"
                                        maxlength="6" ng-model="formData.postalCode" class="form-control">
                                    <span ng-show="editAddress.postal_code.$error.pattern">
                                        <small class="error">
                                            {{'error.msg.number.postcode' | translate}}
                                        </small>
                                    </span>
                                </div>
                
                            </div>
                    </div>
                    <!-- End of address
                End of habile changes -->

					<table class="table">
						<thead>
						<tr class="graybg">
							<th><input id="selectAllHolidays" type="checkbox" ng-click="checkall()">Select All</th>
							<th>{{'label.heading.holidayname' | translate}}</th>
							<th>{{'label.heading.startdate' | translate}}</th>
							<th>{{'endDateSelect' | translate}}</th>
							<th>{{'label.heading.repaymentsheduleto' | translate}}</th>
							<!--<th>{{'label.heading.status' | translate}}</th>-->
						</tr>
						</thead>
						<tbody>
						<tr class="pointer-main" data-ng-repeat="holiday in holidays | orderBy:'fromDate' | filter:filterText">
							<td class="pointer"><input id="holiday_{{holiday.id}}" class="checkBoxClass" type="checkbox" value="{{holiday.id}}" ng-checked="selectHoliday.indexOf(holiday.id) > -1" ng-click="toggleSelection(holiday.id)"></td>
							<td class="pointer" data-ng-click="routeTo(holiday.id)">{{holiday.name}}</td>
							<td class="pointer" data-ng-click="routeTo(holiday.id)">{{holiday.fromDate | DateFormat}}</td>
							<td class="pointer" data-ng-click="routeTo(holiday.id)">{{holiday.toDate | DateFormat}}</td>
							<td class="pointer" data-ng-click="routeTo(holiday.id)"  ng-show="holiday.repaymentsRescheduledTo == undefined || holiday.repaymentsRescheduledTo == null">{{'label.nextrepaymentdate' | translate}}</td>
							<td class="pointer" data-ng-click="routeTo(holiday.id)"  ng-show="holiday.repaymentsRescheduledTo != undefined && holiday.repaymentsRescheduledTo != null">{{holiday.repaymentsRescheduledTo | DateFormat}}</td>
							<!--<td class="pointer" data-ng-click="routeTo(holiday.id)">{{holiday.status.value}}</td>-->
						</tr>
						</tbody>
					</table>

    		        <div class="col-md-offset-3">
    		            <a id="cancel" href="#/offices">
    		                <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
    		            </a>
    		            <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_OFFICE'>{{'label.button.save' | translate}}</button>
    		        </div>
    		    </fieldset>
    		</form>
    	</div>
    </div>
</div>